<div class="col-10 offset-1 about">

  <h1>About Splurty</h1>
  
  <p> Splurty was created by Marco Morawec & Ken Mazaika as an instructional program. This particular implementation was built by Jason McBride. 
  </p>
  <br/>
  <p>
    The goal of this tool, is to develop the neccessary skills to interact witha  database, to save and retrieve, and create userforms with the appropriate input protections, to ensure users can add to the quote repository.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Jason_headshot.jpg', class: 'img.fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jason McBride</h2>
      <br />
      <p class="text-center" />
        Jason McBride is a Sr Manager at <a target="_blank" href="https://www.toshiba-memory.com/">Toshiba Memory America, Inc</a>. His previous exprience included Head of Logistics at   <a target="_blank" href="https://www.crunchbase.com/organization/spoonrocket#section-overview">Spoonrocket, Inc.</a> and Western Digital, Inc. <br>
        A native of Atlanta, Georgia, he made his way over to the bay in 2012 to challenge himself alongside the best in Silicon Valley, whre he has resided since. 
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>